@use '../../../../shared/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.photoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}

.moodRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}
